html {
  box-sizing: border-box;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.log-in {
  width: 350px;
  height: 250px;
  border: 1px solid silver;
  border-radius: 10px;
  display: flex; 
  justify-content: center;
  padding-top: 10px;
}

.log-in input {
  width: 300px;
  display: block;
  clear: both;
  margin: 2px 0px 5px 0px;
}

.log-in .error {
  color: red;
  font-style: italic;
  font-size: 10px;
}

.log-in button {
  float: right;
  height: 30px;
  width: 100px;
  margin-left: 5px;
}